nav{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
    padding:10px 15px;
    border-radius:10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
/*el ease controla la variacion de la velocidad de la transicion
ease-in-out al principio lente, en el medio rapido y en el final lento*/
nav a:hover{
    background:white;
    color: #2563eb;
}
button, #btnbuscar, form button, article button, article a, #volver-inicio {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none; /* Le saca el subrayado feo a los enlaces <a> */
    display: inline-block;  /* Hace que los enlaces respeten el padding de botón */
    opacity: 1;
    transition: opacity 0.3s ease-in, background-color 0.3s ease-in, transform 0.3s ease, box-shadow 0.3s ease-in;
}

button:hover, 
#btnbuscar:hover, 
form button:hover, 
article button:hover, 
article a:hover {
    opacity: 0.8;
    background-color: #1d4ed8;
    color: white;
}
/* hace que cuando el usuario pase el cursor en la tarjeta se levante el boton*/
