@font-face {
    font-family: "BrightKenly";
    src: url("../assets/BrightKenly.ttf") format("opentype");
}
body {
    background-color: #ede8df;
    margin: 0;
}
header {
    background-color: hsl(224, 74%, 83%);
    text-align: center;
    padding: 20px;
    position: relative;
}
header section {
    font-family: "BrightKenly";
    font-size: 2rem;
    letter-spacing: 5px;
}
#resena, footer, .secDeNoticias {
    margin: 40px 30px;
}
#btnAdmin {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #374151;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 8px 15px;
    border-radius: 6px;
}
#boton-dark-mode {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #374151;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 8px 15px;
    border-radius: 6px;
    width: 16%;
}
.dark {
    background-color: #272725;
    color: aliceblue;
}
.dark header {
    background-color: #3a4a8a;
    color: lightgray;
}
.dark #formulario-admin {
    background-color: #272725;
    border: solid 1px;
}
#precio-dolar {
    font-size: 0.85rem;
    margin-top: 8px;
}
footer {
    text-align: center;
}
@media (max-width: 768px) {
    main, #inicio, .secDeNoticias {
        grid-template-columns: 1fr;
    }
}
.botonInicio{
    position: fixed;
    right: 20px;
    top: auto; /*eliminé el valor anterior de top para que no cree conflictos con bottom*/
    bottom: 20px; /*Lo fija a 20 píxeles del borde inferior de la ventana, manteniendo una posición constante*/
    transform: none; /*Como ahora se posiciona directamente con bottom: 20px, ya no es necesario desplazarlo y se eliminó la transformación*/
    /*transform: translateY(-50%) --> posicionaba el botón usando un porcentaje de la altura de la pantalla, lo que podía generar ubicaciones poco precisas*/
    background: #2563eb;
    color: white;
    padding: 12px 16px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    z-index: 9999; /*Este fue el cambio que solucionó el problema principal.*/
}